.botao-primario{
    padding: 12px 28px;
    font:700 1.8rem/1.25 'Rubik', sans-serif;
    background: var(--amarelo-primario);
    color: var(--azul-dark);
    border-radius: 4px;
    transition: .2s;
}

.botao-primario:hover{
    background: var(--amarelo-dark);
}

.botao-primario, .botao-secundario{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.botao-secundario{
    padding: 11px 28px;
    font:400 1.8rem/1.25 'Rubik', sans-serif;
    color: var(--branco);
    border: 1px solid #EBDD5D;
    border-radius: 4px;
    transition: .2s;
    background: none;
}

.botao-secundario:hover{
    background: var(--amarelo-primario);
}

.botao-terciario{
    padding: 11px 28px;
    font:600 1.8rem/1.25 'Rubik', sans-serif;
    color: var(--azul-primario);
    border: 1px solid var(--azul-primario);
    border-radius: 4px;
    transition: .2s;
    background: none;
}

.botao-terciario:hover{
    color: var(--branco);
    background: var(--azul-primario);
}