@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
}

a {
    text-decoration: none;
    display: inline;
}

img {
    display: block;
}

.logo {
    width: 153px;
}

html {
    font-size: 62.5%;
}

body{
    overflow-x: hidden;
}


/*Primeiro conteúdo*/

.first-content {
    background: radial-gradient(44.13% 247.55% at 67.88% 66.78%, #2D60E7 0%, #1647C9 100%);
}

header {
    border-bottom: 1px solid #456DD5;
    padding: 21px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    display: flex;
    gap: 32px;
}

.header-menu li a {
    color: var(--branco);
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -35px;
    gap: 40px;
}

.conteudo li::before {
    content: url('../img/Icones/icon-hat-hero.svg');
}

.conteudo h1 {
    margin: 16px 0 24px 0;
}

.conteudo p {
    margin-bottom: 32px;
}


/*Segundo conteúdo*/
.qualidades-container {
    display: flex;
    justify-content: space-between;
    gap: 130px;
    border-bottom: 1px solid #E1E1E3;
}

.qualidade {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 45px 0;
}

/*Terceiro conteudo*/
.s-solucoes{
    padding-top: 45px;
    padding-bottom: 88px;
}

.solucoes-parte-1, .solucoes-parte-2{
    display: flex;
    gap: 88px;
}

.solucoes-parte-1{
    align-items: center;
    margin-bottom: 32px;
}

.solucoes-parte-2 img{
    border-radius: 8px;
}

.solucoes-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 8px;
}

.solucoes{
    display: flex;
    gap: 18px;
    align-items: center;
    background: var(--branco);
    padding: 26px 24px;
    border-bottom: 1px solid var(--cinza-borda);
}

.solucoes:nth-child(odd){
    border-right: 1px solid var(--cinza-borda);
}

/*Quarto conteúdo*/
.s-maquininha{
    padding: 104px 0;
}

.maquininha-container{
    display: flex;
    align-items: center;
    gap: 170px;
}

.left-maquininha h2{
    padding: 16px 0 24px 0;
}

.left-maquininha h2 + p{
    padding-bottom: 40px;
}

.servicos{
    display: flex;
}

.servicos + .servicos{
    margin-top: 48px;
}

.servicos h4{
    margin-bottom: 8px;
}

.servicos h4, .servicos p{
 margin-left: 32px;
}

.right-maquininha{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.selo{
    position: absolute;
    left: -70px;
    top: -30px;
}

.download{
    display: flex;
    align-items: center;
    margin-top: 24px;
    cursor: pointer;
}

.download span{
    margin-left: 16px;
}

#seta{
    animation: download 1.75s ease-in-out infinite;
}

@keyframes download{
    0%, 100%{
        transform: translateY(-4px);
    }
    50%{
        transform: translateY(0px);
    }
}

/*Quinto conteúdo*/

.s-bandeiras{
    border-top: 1px solid var(--cinza-borda);
    position: relative;
    padding: 50px 0;
}

.bandeiras{
    display: flex;
    gap: 96px;
    animation: slide 15s linear infinite;
}

.bandeiras:hover{
    animation-play-state: paused;
}

.bandeiras-container span{
    position: absolute;
    display: inline;
    top: -15px;
    background-color: var(--branco);
    padding: 0 4px;
}

@keyframes slide{
    0%, 100%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(-400px);
    }
}
