.first-content {
    background: radial-gradient(44.13% 247.55% at 67.88% 66.78%, #2D60E7 0%, #1647C9 100%);
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -35px;
    gap: 40px;
}

.conteudo ul li{
    display: flex;
    align-items: center;
    gap: 8px;
}

.conteudo h1 {
    margin: 16px 0 24px 0;
}

.conteudo p {
    margin-bottom: 32px;
}

@media (max-width: 1175px){
    .hero-section{
        margin-top: initial;
    }

    .hero-section > img{
        width: 54%;
    }
}

@media (max-width: 990px){
    .hero-section{
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-top: 64px;
        gap: 0;
    }

    .conteudo ul{
        display: inline-block;
    }

    .hero-section > img{
        width: 100%;
    }

    .conteudo button{
        margin: 0 auto;
    }
}