.font-h1{
    font:5.6rem/1.25 'Rubik', sans-serif;
}

.font-h2{
    font:4rem/1.25 'Rubik', sans-serif;
}

.font-h3{
    font:3.6rem/1.25 'Rubik', sans-serif;
}

.font-h4{
    font:2rem/1.25 'Rubik', sans-serif;
}

.font-texto-1{
    font:1.8rem/1.25 'Rubik', sans-serif;
}

.font-texto-2{
    font:1.6rem/1.25 'Rubik', sans-serif;
}

.semi-bold{
    font-weight: 600;
}

.medium{
    font-weight: 500;
}

@media (max-width: 560px){
    .font-h1{
        font-size: 4rem;
    }

    .font-h2{
        font-size: 3.2rem;
    }
}